[run]
include =
    ./src/**
omit =
    # omit anything in a virtualenv directory anywhere
    *./venv/*
    test*
[report]
omit =
    # omit anything in a virtualenv directory anywhere
    *./venv/*


